<div>
  <h1><%= @hike.name %></h2>
  <section class="statistics">

    <table border="1">
      <caption>Summary</caption>
      <tbody>
        <tr>
          <th>Start Mileage</th>
          <td><%= @hike.start_mileage%></td>
        </tr>
        <tr>
          <th>Finish Mileage</th>
          <td><%= @hike.finish_mileage%></td>
        </tr>
        <tr>
          <th>Average Mileage Per Day</th>
          <td><%= @stats.average_mileage_per_day %></td>
        </tr>
        <tr>
          <th>Miles from Finish</th>
          <td><%= @stats.mileage_from_finish %></td>
        </tr>
        <tr>
          <th>Percent Complete</th>
          <td><%= percent_complete(@points, @hike) %>%</td>
        </tr>
      </tbody>
    </table>
    
  </section>
  <section class="points">

    <table border="1">
      <caption>Points</caption>
      <thead>
        <tr>
          <th>Date</th>
          <th>Mile Mark</th>
          <th>Miles Hiked</th>
          <th>Edit point</th>
        </tr>
      </thead>
      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= point.date %></td>
            <td><%= point.mileage %></td>
            <td><%= miles_since_last_point(@points, point, @hike) %></td>
            <td>            
              <form action="/hikes/<%= @hike.id %>/points/delete" method="POST">
                <button name="point_id" value="<%= point.id %>">Delete Point</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="point-form">
    <h2>New Point</h2>
    <form action="/hikes/<%= @hike.id %>/points/new" method="POST">
    <label for="date">Date: </label>
    <input type="date" name="date" required>

    <label for="mileage">Mile: </label>
    <input type="number" 
          name="mileage"
          step="0.01"
          min="<%= @hike.start_mileage %>"
          max="<%= @hike.finish_mileage %>"
          required>

    <button>Create New Point</button>
    </form>
  </section>

  <section class="goals">
    <table border="1">
      <caption>Goals</caption>
      <thead>
        <tr>
          <th>Description</th>
          <th>Desired Arrival</th>
          <th>Mile Mark</th>
          <th>Miles To Go</th>
          <th>Required Pace</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @goals.each do |goal| %>
          <tr>
            <td><%= goal.description %></td>
            <td><%= goal.date %></td>
            <td><%= goal.mileage %></td>
            <td>
              <% if @points.empty? %>
                <%= goal.mileage - @hike.start_mileage %>
              <% else %>
                <%= (goal.mileage - @points.first.mileage).round(2) %>
              <% end %>
            </td>
            <td>
              <% if @points.empty? %>
                TBD
              <% else %>
                <%= required_pace(goal, @hike, @points.first) %></td>
              <% end %>
            <td>            
              <form action="/hikes/<%= @hike.id %>/goals/delete" method="POST">
                <button name="goal_id" value="<%= goal.id %>">Delete Goal</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="goal-form">
    <h2>New Goal</h2>
    <form action="/hikes/<%= @hike.id %>/goals/new" method="POST">
      <label for="date">Desired Arrival: </label>
      <input type="date" name="date" required>

      <label for="description">Description: </label>
      <input type="text" name="description" required>

      <label for="mileage">Mile Mark: </label>
      <input type="number" 
            name="mileage"
            step="0.01"
            min="<%= @hike.start_mileage %>"
            max="<%= @hike.finish_mileage %>"
            required>

      <button>Create New Goal</button>
    </form>
  </section>

  <section class="edit">
    <form action="/hikes/<%= @hike.id %>/edit" method="GET">
      <button>Edit Hike</button>
    </form>

  </section>
</div>

