<div>
  <h1><%= @hike.name %></h2>
  <section class="statistics">
  <p>Average Mileage Per Day: <%= @stats.average_mileage_per_day %></p>
  <p>Miles from Finish: <%= @stats.mileage_from_finish %></p>
  <p>Start Mileage: <%= @hike.start_mileage%>, Finish Mileage: <%= @hike.finish_mileage %></p>
  <p>Percent Complete: <%= percent_complete(@points, @hike) %>%</p>

  </section>
  <section class="points">
    <ul>
    <% @points.each do |point| %>
    
      <ul>
        <li>Date: <%= point.date %></li>
        <ul>
          <li>Mile Mark: <%= point.mileage %></li>
          <li>Miles Hiked: <%= miles_since_last_point(@points, point, @hike) %></li>
          <li>
            <form action="/hikes/<%= @hike.id %>/delete" method="POST">
              <button name="point_id" value="<%= point.id %>">Delete Point</button>
            </form>
          </li>
        </ul>
      </ul>

    <% end %>
    <ul>
  </section>
  <h2>New Point</h2>
  <section class="point-form">
    <form action="/hikes/<%= @hike.id %>" method="POST">
    <label for="date">Date: </label>
    <input type="date" name="date" required>

    <label for="mileage">Mile: </label>
    <input type="number" 
           name="mileage"
           step="0.01"
           min="<%= @hike.start_mileage %>"
           max="<%= @hike.finish_mileage %>"
           required>

    <button>Create New Point</button>
    </form>
  </section>
</div>

