<div>
  <h1><%= @hike.name %></h2>
  <section class="statistics">

    <table border="1">
      <caption>Summary</caption>
      <tbody>
        <tr>
          <th>Start Mileage</th>
          <td><%= @hike.start_mileage%></td>
        </tr>
        <tr>
          <th>Finish Mileage</th>
          <td><%= @hike.finish_mileage%></td>
        </tr>
        <tr>
          <th>Average Mileage Per Day</th>
          <td><%= @stats.average_mileage_per_day %></td>
        </tr>
        <tr>
          <th>Miles from Finish</th>
          <td><%= @stats.mileage_from_finish %></td>
        </tr>
        <tr>
          <th>Percent Complete</th>
          <td><%= percent_complete(@points, @hike) %>%</td>
        </tr>
      </tbody>
    </table>
    
  </section>
  <section class="points">

    <table border="1">
      <caption>Points</caption>
      <thead>
        <tr>
          <th>Date</th>
          <th>Mile Mark</th>
          <th>Miles Hiked</th>
          <th>Edit point</th>
        </tr>
      </thead>
      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= point.date %></td>
            <td><%= point.mileage %></td>
            <td><%= miles_since_last_point(@points, point, @hike) %></td>
            <td>            
              <form action="/hikes/<%= @hike.id %>/delete" method="POST">
                <button name="point_id" value="<%= point.id %>">Delete Point</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
  <h2>New Point</h2>
  <section class="point-form">
    <form action="/hikes/<%= @hike.id %>" method="POST">
    <label for="date">Date: </label>
    <input type="date" name="date" required>

    <label for="mileage">Mile: </label>
    <input type="number" 
           name="mileage"
           step="0.01"
           min="<%= @hike.start_mileage %>"
           max="<%= @hike.finish_mileage %>"
           required>

    <button>Create New Point</button>
    </form>
  </section>

  <section class="edit">
    <form action="/hikes/<%= @hike.id %>/edit" method="GET">
      <button>Edit Hike</button>
    </form>

  </section>
</div>

