<div>
  <h1><%= @hike.name %></h2>
  <section class="statistics">
  <p>Average Mileage Per Day: <%= @stats.average_mileage_per_day %></p>
  <p>Miles from Finish: <%= @stats.mileage_from_finish %></p>

  </section>

  <ul>
  <% @points.each do |point| %>

    <ul>
      <li>Date: <%= point.date %></li>
      <li>Mileage: <%= point.mileage %></li>
    </ul>

  <% end %>
  <ul>
</div>

