<div>
  <h2><%= @user.name %>'s Hikes</h2>
  <ul>

  <% @hikes.each do |hike| %>

    <li>
      <form action="/hikes/<%= hike.id %>" method="get">
        <input type="submit" value="<%= hike.name %>">
      </form>
    </li>

      <ul>
        <li>Start Mileage: <%= hike.start_mileage %></li>
        <li>Finish Mileage: <%= hike.finish_mileage %></li>
        <li>
          <form action="/hikes/delete" method="POST">
          <button name="hike_id" value="<%= hike.id %>">Delete Hike</button>
          </form>
        </li>
      </ul>

  <% end %>

  <form action="/hikes/new" method="get">
    <input type="submit" value="New Hike">
  </form>
  <ul>
</div>

