<div>
  <h1><%= @hike.name %></h2>
  <section class="statistics">
  <p>Average Mileage Per Day: <%= @stats.average_mileage_per_day %></p>
  <p>Miles from Finish: <%= @stats.mileage_from_finish %></p>
  <p>Most recent Entry: <%= @points.first.date if !@points.empty? %></p>

  </section>
  <section class="points">
    <ul>
    <% @points.each do |point| %>

      <ul>
        <li>Date: <%= point.date %></li>
        <ul>
          <li>Mile Mark: <%= point.mileage %></li>
        </ul>
      </ul>

    <% end %>
    <ul>
  </section>
  <h2>New Point</h2>
  <section class="point-form">
    <form action="/hikes/<%= @hike.id %>" method="POST">
    <label for="date">Date: </label>
    <input type="date" name="date" required>

    <label for="mileage">Mile: </label>
    <input type="text" name="mileage" required>

    <button>Create New Point</button>
    </form>
  </section>
</div>

