<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hike Hub</title>
    <meta charset="utf-8">
  </head>
  <body>

    <div>
      <h1><%= @user.name %>'s ThruHike Tracker</h1>
      <h2>An app for tracking your backpacking trips and long distance hikes</h2>
    </div>

    <div>
      <h2><%= @user.name %>'s Hikes</h2>
      <ul>
      <% @hikes.each do |hike| %>
        <li><%= hike.name %></li>
          <ul>
            <li>Start Mileage: <%= hike.start_mileage %></li>
            <li>Finish Mileage: <%= hike.finish_mileage %></li>
          </ul>
      <% end %>
      <ul>
    </div>

  </body>
</html>
